<div id='aboutRow' class="row ">
    <div class="col-4">
        <div id='aboutBar' class='bar'>
            <h1>.about</h1>
            <div id='profilePicture'>
                <img src="https://via.placeholder.com/250X250" alt="">
            </div>
            <div id='aboutMe'>
                <p>
                    I'm a web developer based in Orlando, Fl with a passion for solving problems, an eye for
                    design, and love of all things tech. Lets build something!
                </p>
            </div>
        </div>
    </div>
    <div class="col-8 ">
        <div id='aboutContent' class="content">
            <h2>.hardSkills</h2>
            <canvas id="myChart" width="400" height="100"></canvas>
            <h2>.softSkills</h2>
            <div class="row iconRow">
                <div class="col-4 iconCol">
                    <img src="/img/icon1.png" class='icon' alt="">
                    Problem Solving
                </div>
                <div class="col-4 iconCol">
                    <img src="/img/icon2.png" class='icon' alt="">
                    Adaptive
                </div>
                <div class="col-4 iconCol">
                    <img src="/img/icon3.png" class='icon' alt="">
                    Creative
                </div>
            </div>
            <div class="row">
                <div class="col-4 iconCol">
                    <img src="/img/icon4.png" class='icon' alt="">
                    Positive
                </div>
                <div class="col-4 iconCol">
                    <img src="/img/icon5.png" class='icon' alt="">
                    Diligent
                </div>
                <div class="col-4 iconCol">
                    <img src="/img/icon6.png" class='icon' alt="">
                    Self-motivating
                </div>
            </div>
        </div>
    </div>
</div>

<div id='contactRow' class="row">
    <div class="col-4">
        <div id='contactBar' class='bar'>
            <h1>.contact</h1>
            <h5>Send me an email or checkout my other online profiles.</h5>
            <h3 style="margin-top:50px">Email:</h3>
            <p>albert@albertjgonzalez.com</p>
            <div id="contactlinks" class="pt-5">
                <div class="row">
                    <div class="col-6">
                        <div class="spinlinks"> <a href="https://www.linkedin.com/in/albert-gonzalez-8a6556129/" target="_blank"><img
                                    src="img/linkedin.png" alt="" class="spinlinks"></a></div>
                    </div>
                    <div class="col-6">
                        <div class="spinlinks"> <a href="https://github.com/albertjgonzalez" target="_blank"><img src="img/github.png"
                                    alt="" class=" pinlinks"></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-8">
        <div id='contactContent' class="content">
            <form method="POST" action='/send-email' role="form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center; color: #1d2c40;">Contact Form</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="from" name="from" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name='text' type="textarea" id="text" placeholder="Message"
                        maxlength="140" rows="7"></textarea>
                </div>

                <button data-toggle="modal" data-target="#myModal" type="submit" id="submit" name="submit" value='Send'
                    class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>
</div>

<div id='portfolioRow' class="row">
    <div class="col-4">
        <div id='portfolioBar' class='bar'>
            <h1>.portfolio</h1>
            <span class="projectLink" id='safe'>Orlando Safe City</span><br>
            <span class="projectLink" id='newbie'>Newbie Tutor</span><br>
            <span class="projectLink" id='calc'>Apple Calculator Clone</span><br>
            <span class="projectLink" id='giphy'>GIPHY App</span><br>
            <span class="projectLink" id='codeHacker'>Code Hacker</span><br>
        </div>
    </div>
    <div class="col-8">
        <div id='portfolioContent' class="content">
            <div class='projectDiv container' id="newbieTutorDiv">
                <div class="projectRow row">
                    <div class="col-12">
                        <a href="https://newbietutor.herokuapp.com/"><h1>Newbie Tutor</h1></a>
                    </div>
                </div>
                <div class="projectImages projectRow row">
                    <div class="col-4">
                        <img class='projectImg animated slideInRight' src="/img/newb1.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slow' src="/img/newb2.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slower' src="/img/newb3.png" alt="">
                    </div>
                </div>
                <div class="projectDescription projectRow row">
                    <div class="col-8">
                        <p>
                            Newbie Tutor is an online web app designed to connect tutors with students 
                            seeking skills in the tech industry. After filling out a basic survey, the user 
                            is given a list of other users who may have the skills they're seeking.<br>
                            It was built using a node/express backend and deployed using heroku.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="spinlinks"> <a href="https://newbietutor.herokuapp.com/" target="_blank"><img src="img/github.png"
                                    alt="" class="animated slideInRight slower pinlinks"></a></div>
                    </div>
                </div>
            </div>
            <div class='projectDiv' id="codeHackerDiv">
                <div class="projectRow row">
                    <div class="col-12">
                        <a href="https://albertjgonzalez.github.io/wordGuessGame/"><h1>Code Hacker</h1></a>
                    </div>
                </div>
                <div class="projectImages projectRow row">
                    <div class="col-4">
                        <img class='projectImg animated slideInRight' src="/img/code1.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slow' src="/img/code2.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slower' src="/img/code3.png" alt="">
                    </div>
                </div>
                <div class="projectDescription projectRow row">
                    <div class="col-8">
                        <p>
                            Code Hacker is simple game built with javascript. Users are given only the amount of
                            characters in the hidden word. Using the keyboard to select different characters, users must 
                            attempt to crack the code in ten tries or less.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="animated slideInRight slower spinlinks"> <a href="https://github.com/albertjgonzalez/wordGuessGame" target="_blank"><img src="img/github.png"
                                    alt="" class=" pinlinks"></a></div>
                    </div>
                </div>
            </div>
            <div class='projectDiv' id="giphyAppDiv">
                <div class="projectRow row">
                    <div class="col-12">
                        <a href="https://albertjgonzalez.github.io/GIPHY-App/"><h1>GIPHY App</h1></a>
                    </div>
                </div>
                <div class="projectImages projectRow row">
                    <div class="col-4">
                        <img class='projectImg animated slideInRight' src="/img/giph1.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slow' src="/img/giph2.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slower' src="/img/giph3.png" alt="">
                    </div>
                </div>
                <div class="projectDescription projectRow row">
                    <div class="col-8">
                        <p>
                        The GIPHY App is a web application that connects to the giphy api and allows
                        users to curate their own collection of gifs.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="animated slideInRight slower spinlinks"> <a href="https://github.com/albertjgonzalez/GIPHY-App" target="_blank"><img src="img/github.png"
                                    alt="" class=" pinlinks"></a></div>
                    </div>
                </div>
            </div>
            <div class='projectDiv' id="safeDiv">
                <div class="projectRow row">
                    <div class="col-12">
                        <a href="https://orlandosafecityapp.herokuapp.com/"><h1>Orlando Safe City</h1></a>
                    </div>
                </div>
                <div class="projectImages projectRow row">
                    <div class="col-4">
                        <img class='projectImg animated slideInRight' src="/img/safe1.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slow' src="/img/safe2.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slower' src="/img/safe3.png" alt="">
                    </div>
                </div>
                <div class="projectDescription projectRow row">
                    <div class="col-8">
                        <p>
                            Orlando Safe City is web app that allows those who are planning to move to orlando
                            to find the safest neighborhood for them. Users are prompted to enter in an address
                            which connects to google maps and plots all crimes in the area.<br>
                            Users are also shown a side by side comparsion of crime rates between orlando 
                            and a city of their choice.
                            
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="animated slideInRight slower spinlinks"> <a href="https://github.com/albertjgonzalez/Project2" target="_blank"><img src="img/github.png"
                                    alt="" class=" pinlinks"></a></div>
                    </div>
                </div>
            </div>
            <div class='projectDiv' id="calcDiv">
                <div class="projectRow row">
                    <div class="col-12">
                        <h1>Apple Calculator Clone</h1>
                    </div>
                </div>
                <div class="projectImages projectRow row">
                    <div class="col-4">
                        <img class='projectImg animated slideInRight' src="/img/calc1.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slow' src="/img/calc2.png" alt="">
                    </div>
                    <div class="col-4">
                        <img class='projectImg animated slideInRight slower' src="/img/calc3.png" alt="">
                    </div>
                </div>
                <div class="projectDescription projectRow row">
                    <div class="col-8">
                        <p>
                            A simple calculator app designed based off the apple calculator <br>
                           Built with react and uses numberjs for the calculations.
                        </p>
                    </div>
                    <div class="col-4">
                        <div class="animated slideInRight slower spinlinks"> <a href="https://github.com/albertjgonzalez/React-Calculator/settings" target="_blank"><img src="img/github.png"
                                    alt="" class=" pinlinks"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>