<div id='aboutRow' class="row ">
    <div class="col-4">
        <div id='aboutBar' class='bar'>
            <h1>.about</h1>
            <div id='profilePicture'>
                <img src="https://via.placeholder.com/250X250" alt="">
            </div>
            <div id='aboutMe'>
                <p>
                    I'm a web developer based in Orlando, Fl with a passion for solving problems, an eye for 
                    design, and love of all things tech. Lets build something!
                </p>
            </div>
        </div>
    </div>
    <div class="col-8 ">
        <div id='aboutContent' class="content">
         <canvas id="myChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>

<div id='contactRow' class="row">
    <div class="col-4">
        <div id='contactBar'class='bar'>
            <h1>.contact</h1>

        </div>
    </div>
    <div class="col-8">
        <div id='contactContent'class="content">
        </div>
    </div>
</div>

<div id='portfolioRow' class="row">
    <div class="col-4">
        <div id='portfolioBar' class='bar'>
            <h1>.portfolio</h1>

        </div>
    </div>
    <div class="col-8">
        <div id='portfolioContent' class="content">
        </div>
    </div>
</div>