body{
    text-align: center;
    align-content: center;
    background-color: #2192ae;
    height: 100%;
    font-family: 'Unlock', cursive;
    color: #e7e5e4;
}
h1, h2, h3, h4{
    color:rgb(255, 146, 42);
}
/* Enter Page CSS */
#enterBox{
    position: absolute;
  left: 50%;
  top: 50%;
}
#enterButton{
    font-size: 50px;
    text-decoration: none;
    font-family: 'Kumar One Outline', cursive;
}
button:focus {outline:0;}

/* main CSS */
#topBar{
    width: 100%;
    background-color: #e7e5e4;
    height: 200px; 
    border-bottom: solid white 2px;
    margin: 0;
}
#topBarLinks{
    width: 70%;
    position: fixed;
    bottom: 5px;
    right: 0;
    font-size: 30px;
    font-family: 'Kumar One Outline', cursive;
}
#topBarLinks button{
    float: left;
    margin: auto;
    width: 30%;
    background: transparent;
    border: transparent;
}
.bar{
    background-color: #1d2c40;
    border-right: solid white 2px;
    display: none;
    padding: 5%;
    height: 100vh;
}
.content{
    text-align: center;
    display: none;
    background-color: #2192ae;
    padding: 1%;
    align-content: center;
}

/* About CSS */
#aboutMe{
    margin-top:5%; 
}
#aboutContent h2{
    color:#1d2c40;
    margin-top:2%;
    margin-bottom:2%; 
}
#profilePicture{
margin-top: 7%;
margin-bottom: 7%;
}
.icon{
    width: 75px;
}
.iconRow{
    width: 100%;
    margin-bottom:6%;
}
/* Contact CSS */
form{
    margin: auto;
    width: 75%;
    height: 80%;
}
#submit{
    background-color: #1d2c40;
}
/* Portfolio CSS */

#portfolioBar span{
    display: inline-block;
    margin-top: 40px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.884);
}

#portfolioBar span:hover { 
    color: #6ea2af;
}
#portfolioContent{
    text-align: center;
        height: 100%;
}
.projectDiv{
    text-align: center;
    display: none;
}
.projectDiv h1{
    color: #1d2c40;
    margin: auto;
    width: 100%;
}

.projectImg{
    width: 200px;
    height: 200px;
    border: solid 1px rgba(194, 194, 194, 0.884);
    border-radius: 5%; 
}

.projectRow{
    margin-bottom: 5%; 
}

